@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

.flex-center-column {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.home-wrapper {
   position: relative;

   height: 100%;
}

.content-wrapper {
   padding: 142px 48px;
   height: 100%;
   width: 100%;

   gap: 80px;

   z-index: 1;
}

h1 {
   font-family: 'Barlow', sans-serif;
   font-size: 40px;
   color: #FAF7F2;
}

.text-button-wrapper {
   gap: 30px;
}

.title {
   font-family: 'Barlow', sans-serif;
   font-weight: 300;
   font-size: 58px;
   text-align: center;
   color: #FAF7F2;
}

.button {
   padding: 18px 68px;

   font-weight: 700;
   font-size: 18px;
   font-family: 'Barlow', sans-serif;
   letter-spacing: 0px;
   
   background: #FDC913;
   border-radius: 50px;
   border: none;
   
   cursor: pointer;
}

.background-image {
   position: absolute;
   top: 10;

   width: 100%;
   height: 100%;
}